/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width:1200px) {

}

nav{
    margin: 0 auto;
    max-width: 1440px;
}
.item{

    height: 640px;
}
#head{
    margin: 0 auto;
    width: 1440px;
}
.item img{
    min-width: 100%;
    object-fit:cover;
    height: 100% !important;
}

/*Main*/

.top1{
    text-align: center;
   //padding-bottom: 20px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    position: relative;

}
.top1 p{
    padding: 10px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
    color: currentColor;
    text-align: center;
    margin-top: 38px;
}
.top1 h2{
    padding: 10px;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    color: currentColor;
    text-align: center;

}
.top1 h6{
    padding: 8px 0;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1f242b;''
}
.tab_list{
    margin-bottom: 80px;
    position: relative;
    text-align: center;
}
.tab_list ul{
position: absolute;
    top: 0;
    left: 50%;
    margin-left: -720px;
    text-align: center;
    width: 1440px;
    overflow-x: hidden;
    height: 64px;
}
.tab_list  ul li{
    color: #0f0f0f;
    font-size: 18px;
    display: inline-block;
    line-height: 64px;
    height: 64px;
    margin: 0 10px;
}
.show{
    margin: 10px auto;
    width: 1000px;
    height: 400px;
    box-sizing:border-box;

}
.topbtn:checked{
    border: #f7f7f9;
}
.topbtn{
    outline: #f7fcff;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #f7f7f9;
    height: 39px;
    width: 124px;
    border-radius: 20px;
}
.top1_div_first{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;

}
.top1_div_second{
    position: relative;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    box-sizing: border-box;
}
.top1_div_third{
    position: absolute;
    padding-top: 16px;
    left: 0;
    top: 0;
    right: 0;
    padding:0 24px;
    background-color: transparent!important;
    z-index: 500;
    height: 1600px;
}
.top1_p_first{
    margin-top: 48px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
    color: currentColor;
    text-align: center;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.top1_div_fourth{
    margin: 0 -24px;
    text-align: center;
    white-space: nowrap;
    font-size: 0;
    height: 64px;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    color: #000!important;
}
.top1_ul_first{
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    list-style: outside none none;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.top1_li_first{
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 48px;
    height: 100%;
    list-style: outside none none;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
.top1_button_first{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-transition: color .2s cubic-bezier(0.4,0,0.2,1);
    transition: color .2s cubic-bezier(0.4, 0, 0.2, 1);
}
button{
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    background: 0;

}

 *{
     padding:0;
     margin:0;
 }
.container{
    width:1000px;
    height:400px;
    overflow: hidden;
    position:relative;
    margin:0 auto;
}
.list{
    width:5000px;
    height:400px;
    position:absolute;

}
.list>img{
    float:left;
    width:1000px;
    height:400px;
}
.list_a{
    width:5000px;
    height:400px;
    position:absolute;

}
.list_a>img{
    float:left;
    width:1000px;
    height:400px;
}
.pointer{
    position:absolute;
    width:100px;
    bottom:20px;
    left:250px;
}
.pointer>span{
    cursor:pointer;
    display:inline-block;
    width:10px;
    height:10px;
    background: #7b7d80;
    border-radius:50%;
    border:1px solid #fff;
}

.arrow{
    position:absolute;
    text-decoration:none;
    width:40px;
    height:40px;
    background: #727d8f;
    color:#fff;
    font-weight: bold;
    line-height:40px;
    text-align:center;
    top:180px;
    display:none;
}
.arrow:hover{
    background: #0f0f0f;
}

.container:hover .arrow{
    display:block;
}

/*模态框*/
/*https://v3.bootcss.com/javascript/#transitions*/