/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width:1200px) {

}

nav{
    margin: 0 auto;
    max-width: 1440px;
}
.item{

    height: 640px;
}
#head{
    margin: 0 auto;
    width: 1440px;
}
.item img{
    min-width: 100%;
    object-fit:cover;
    height: 100% !important;
}

/*Main*/

.top1{
    text-align: center;
   padding-bottom: 20px;
}
.top1 p{
    padding: 10px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
    color: currentColor;
    text-align: center;
    margin-top: 38px;
}
.top1 h2{
    padding: 10px;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    color: currentColor;
    text-align: center;

}
.top1 h6{
    padding: 8px 0;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1f242b;''
}
.tab_list{
    margin-bottom: 80px;
    position: relative;
    text-align: center;
}
.tab_list ul{
position: absolute;
    top: 0;
    left: 50%;
    margin-left: -720px;
    text-align: center;
    width: 1440px;
    overflow-x: hidden;
    height: 64px;
}
.tab_list  ul li{
    color: #0f0f0f;
    font-size: 18px;
    display: inline-block;
    line-height: 64px;
    height: 64px;
    margin: 0 10px;
}
.show{
    margin: 10px auto;
    background-color: #00b7ee;
    width: 743px;
    height: 418px;
    height: 418px;
}
.topbtn:checked{
    border: #f7f7f9;
}
.topbtn{
    outline: #f7fcff;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #f7f7f9;
    height: 39px;
    width: 124px;
    border-radius: 20px;
}
/*模态框*/
/*https://v3.bootcss.com/javascript/#transitions*/