.order{

    width: 100%;
    /*border: 1px #e3ece2 solid;*/
}

.title{
    padding-left: 10px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #3d3c3c;
    line-height: 30px;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    border-left: 5px #c61d25 solid;
}
.adrr{
    margin: 0;
    padding: 10px 0;


}
.the-address{
    width: 100%;
}
.first{
    width: 40%;
   text-align: left!important;
}
.adrr td:nth-child(5){
  color: red;
}

.adrr tr td,th{
    text-align: center;
}
.tansport{

}

#pay{

    border: 1px solid silver;
}
#paid tr td{
    margin-bottom: 10px;
    line-height: 25px;
    height: 25px!important;
    padding: 0!important;
}
#btnsub{
    outline-color: #f7f7f9;
    background-color: #c61d25;
    width: 160px;
    height: 40px;
    color: #f7f7f9;
    font-size: 20px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
.myddr{
    background-color: #fff9ef;
    margin: 0 20px;
    padding-right: 20px;
}
.selectadrr{
    padding-bottom: 5px;
    background-color: #fff9ef;
    margin: 0 20px;
}
.selectadrr label{
    padding:0 20px;
    width: 100%;
}
.sub{
    padding: 20px 30px;
    text-align: right;
}

.title2{
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
}
#select1{
    padding: 0 30px;
    font-size: 14px;
    font-family: "宋体", serif;
    border-radius: 10px;
    color: #000000;
    background-color: #e3ece2;
    outline-color: #f7f7f9;
    height: 80px;
    width: 100%;
}
#select1 option{
    height: 30px;
    line-height: 30px;
}