
.header{
    background-color: #000000;
}

#fixed{
    width: 100%;
    background-color: #e3ece2;
    padding-top: 20px;
    padding-bottom: 100px;
}
.left{
    position: relative;
    height: 600px;

}

#fixed h3{
    margin-left: 20px;
}
.left .img{
    padding:30px;
    text-align: center;
}

.left ul{
    margin-left: 60px;
}
li{
    list-style: none;
}
.right{
    /*height: 600px;*/
    background-color: #e3ece2;
}
.right li{
    float: right;
    height: 40px;
    line-height: 40px;
}
.right .con{
    height: 30px;
    background-color: #e8ff02;
    margin: auto;
}
.h2{
    margin: 0;
    display: inline-block;
    line-height: 60px;
    height: 60px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4!important;
    -moz-osx-font-smoothing: grayscale;
}
.righttop1{
    position: relative;
    text-align: center;
    line-height: 60px;
    background-color: #42b983;
    height: 60px;
    color: #fff;
    border-radius: 40px;
    margin: 15px 0;
}
.righttop1 p{
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #f7fcff;
}
.rightcarall{
    height: 350px;
    width: 750px;
}

 .thumbnail{
    background-color: #F5F5F5;
    display: inline-block;
     height: 240px;
     width: 235px;
}
.thumbnail img{
    height: 240px;
    width: 240px;
}
.panel-body{
    height: 300px;
    width: 750px;
}
.orderphoto{
    height: 280px;
    width: 175px;
}
.thumbnail2{
    background-color: #F5F5F5;
    display: inline-block;
    height: 250px;
    width: 145px;
    padding: 0 2px;
}
.thumbnail2 img{
    height: 150px;
    width: 150px;
}
.caption{
    text-align: center;
}
.page{
    text-align: center;
}


