.right_div_title{
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom:1px solid #ddd;
    margin-bottom: 20px;
    line-height: 30px;
}
#pic{
    width:120px;
    height:160px;
    background:#CCC;
    padding:0px;
    margin-top:3px;

}

#pic img

{
    width:120px;
    height:160px;

}
table tr td:nth-child(2)
{
    width: 500px;
}